<div class="align-content-center">

    <div class="card-columns mt-5">
        <div *ngFor="let producto of productos; let i = index" class="card">
            <img class="img-fluid" src="../../../assets/img/compra.jpg" class="card-img-top" alt="Cargando imagen...">
            <div class="card-body">
                <h5 class="card-title">{{producto.nombre}}</h5>
                <p class="card-text">{{producto.descripcion}}</p>
                <p class="card-text">{{producto.precio}} RD$</p>
                <button class="btn btn-success">Comprar</button>
            </div>
        </div>
    </div>

</div>